.container {
	margin: 3em auto;
	width: 600px;
}

.result.topAnswerers {
	list-style-type:none;
	margin:10px 0 15px;
	padding:10px;
	display:flex;
	justify-content:space-between;
	position:relative;
	width:75%;
	border: 1px solid #ccc;
    background-color: #f2f2f2;}

.topAnswerers li {
	display:flex;
	flex-direction:column;
}

.hidden {
	display: none;
}

.left {
	float: left;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
/* extra styles */
.answerer-link {
	margin-bottom:10px;
	margin-left:10px;
}

.answerer-posts {
	margin 5px 0;
}

.answerer-score {
	margin-top:5px;
}

.answerer-image {
	display:block;
	width:75px;
}
.answerer-image img {
	width:100%;
	padding:5px;
	border:1px solid #ccc;
	box-shadow:1px 2px 3px 1px #ccc;
	background-color:#fff;
}

.answerer-type{
	position:absolute;
	bottom:10px;
}
